/*Простой*/
  @font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: 
  local('PT Sans'), local('PTSans-Regular');
  src: 
  url(https://fonts.gstatic.com/s/ptsans/v9/HxndcvKFXWMbmSKW3biIqQ.eot);
  src:
  url(https://fonts.gstatic.com/s/ptsans/v9/HxndcvKFXWMbmSKW3biIqQ.eot?) format('eot'),
  url(https://fonts.gstatic.com/s/ptsans/v9/yrzXiAvgeQQdopyG8QSg8Q.woff) format('woff'),
  url(https://fonts.gstatic.com/s/ptsans/v9/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
}

/*Жирный*/

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold');
  src: url(https://fonts.gstatic.com/s/ptsans/v9/HxndcvKFXWMbmSKW3biIqQ.eot); 
  src:
  url(https://fonts.gstatic.com/s/ptsans/v9/HxndcvKFXWMbmSKW3biIqQ.eot?) format('eot'),
  url(https://fonts.gstatic.com/s/ptsans/v9/g46X4VH_KHOWAAa-HpnGPhsxEYwM7FgeyaSgU71cLG0.woff) format('woff'),
  url(https://fonts.gstatic.com/s/ptsans/v9/g46X4VH_KHOWAAa-HpnGPiEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font: 14px/22px 'PT Sans';
  color: #767676;
}

body {
  position: relative;
}

header, nav, section, aside, footer {
  display: block;
  width: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

nav, footer {
  background-color: #777777;
  color: #ffffff;
}

.inner, section {
  height: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px 0 10px;
  position: relative;
}

header {
  background-color: #dcdcdc;
  height: 230px;
}

header img {
  width: 273px;
  height: 100px;
  float:left;
  margin-top: 65px;
}

#numbers {
  float: right;
  margin-top: 45px;
}

#numbers li {
  line-height: 40px;
  text-align: right;
  font-size: 40px;
}

#numbers a {
  font-size: 24px;
  font-weight: 700;
  color: #777777;
  border-bottom: 2px dashed #777777;
}

#numbers a:hover {
  text-decoration: none;
}

.nav {
  height: 80px;
  font-size: 30px;
}

.nav ul {
  text-align: center;
  padding-top: 25px;
}

.nav li {
    display: inline-block;
    height: 10px;

}

.nav a {
  display: block;
  color: #ffffff;
  border-right: 1px solid #ffffff;
  padding: 0 10px 0 10px;
}

.nav li:last-child a {
  border-right: none;
  padding-right: 0;
}

#slider {
  position: relative;
  width: 100%;
  height: 400px;
  opacity: 1;
  transition: opacity 4s ease;
  overflow: hidden;
  background-color: #f8f8f8;
}

#next img, #back img {
  position: absolute;
  width: 34px;
  height: 61px;
  cursor: pointer;
  z-index: 100;
}

#next img {
  right: 0;
  top: 45%;
}

#back img {
  left: 0;
  top: 45%;
}

#images > img {
  width: 1248px;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 2s ease;
}

#tree li{
  float: left;
  padding: 9px 0 23px 0;
}

#tree a {
  color: #777777;
  text-decoration: underline;

}

#main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

aside {
  flex: 0 1 200px;
}

aside > ul > li > ul {
  display: none;
}

aside > ul > li > a{
  font-size: 18px;
  color: #767676;
  cursor: pointer;
}

aside > ul > li >ul > li {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 10px;
}

aside ul > li > ul > li a{
  font-size: 14px;
   color: #767676;
   margin-left: -10px;
   cursor: pointer;
}

.activLink {
  font-weight: bold;
}

#content {
  flex: 1 1;
}

#photoPrice img{
  width: 151px;
  height: 144px;
  margin-top: 110px;
  margin-left: 15px;
}

.blockProduct {
  position: relative;
  float: left;
  width: 250px;
  height: 380px;
  background-color: #dcdcdc;
  margin: 0 15px 20px 0; 
}

.blockProduct:nth-child(3n) {
  margin-right: 0;
}

.blockProduct img:first-child {
  display: block;
  width: 210px;
  height: 209px;
  margin: 20px auto 0;
}

.blockProduct img:nth-child(2) {
  width: 28px;
  height: 21px;
  display: block;
  position: absolute;
  right: 33px;
  bottom: 15px;
}

#call {
  display: block;
  font-size: 18px;
  padding: 20px 0 0 20px;
}

#price {
  font-size: 28px;
  font-weight: bold;
  color: #444444;
  position: absolute;
  left: 20px;
  bottom: 13px;
}

#switch {
  width: 100%;
  /*margin: 35px auto 0;*/
}

#switch ul {
  text-align: center;
}

#switch li {
    display: inline-block;
    margin-right: 20px;
}

#switch li:last-child {
  margin-right: 0;
}

#switch a {
  color: #767676;
}

#line {
  height: 1px;
  background-color: #777777; 
  margin: 63px 0 28px 0;
}

#left, #right {
  margin-bottom: 200px;
}

#left {
  width: 47%;
  float: left;
}

#right {
  width: 47%;
  float: right;
}

footer .inner {
  padding-top: 50px;
  color: #ffffff;
}

footer a {
  color: #ffffff;
  text-decoration: underline;
  
}

#footerLeft, #footerCenter {
  float: left;
}

#footerLeft {
  width: 200px;
}

#footerCenter {
  margin-left: 141px;
  padding-bottom: 50px;
}

#footerCenter li {
  margin-bottom: 3px;
}

#footerRight {
  width: 220px;
  float: right;
}

#footerRight img {
  float: left;
  width: 36px;
  height: 38px;
}

#footerRight span {
  display: block;
  margin-left: 45px;
}

#feedback {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#form {
  position: absolute;
  width: 464px;
  height: 580px;
  background-color: #ffffff;
  top: 280px;
  left: 50%;
  margin-left: -232px;
  z-index: 151;
  color: #535353;
}

#backOpas {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: black;
  z-index: 150;
  transition: 3s ease;
}

#form input {
  width: 340px;
  height: 34px;
  display: block;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  border-width: 1px;
}

#form p {
  text-align: center;
  margin: 14px auto 4px;
}

#form h1 {
  font-size: 24px;
  margin: 34px auto 36px;
  text-align: center;
  font-weight: bold;
}

form textarea {
  display: block;
  height: 112px;
  width: 338px;
  margin: 0 auto 0;
  resize: none;
  padding: 15px;
} 

#form input[type="submit"] {
  width: 130px;
  height: 40px;
  color: #ffffff;
  font-weight: bold;
  background-color: #777777;
  border: none;
  padding: 0;
  margin-top: 24px;
}

input:focus {
  outline: none;
  border: none;
}

input::placeholder {
  lighting-color: #ffffff;
}

input:valid {
  border: 1px solid green;
}

input:focus:invalid {
  border: 1px solid #ff8383;
  box-shadow: inset 0 0 15px #ff8383;
}

